@font-face {
  font-family: "Wordle";
  src: url("fonts/karnakcondensed-normal-700.woff") format("woff");
}

.wordle-ft {
  font-family: "Wordle", Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 0px;
  font-family: "Wordle", Arial, sans-serif;

  font-weight: 700;
  font-size: 37px;
}

.container-tabuleiro {
  margin-top: 145px;
  margin-bottom: 145px;
  text-align: center;
}

.container-tabuleiro p {
  position: relative;
  margin: 10px 5px 5px 5px;
  font-size: 2rem;
  margin-bottom: 5px;
}

.tabuleiro-personalizado {
  text-align: center;
  position: relative;
  margin-bottom: 5px;
  font-family: "Wordle", Arial, sans-serif;
}

.quadrado-personalizado {
  text-align: center;
  border: 2px solid #878788;
  width: 58px;
  height: 58px;
  display: inline-block;
  color: black;
  font-weight: bold;
}

.quadrado {
  border: 2px solid #d3d6da;
  width: 58px;
  height: 58px;
  display: inline-block;
  font-family: "Wordle", Arial, sans-serif;
  font-weight: bold;
}

.quadrado-cinza {
  border: 2px solid #787c7e;
  width: 58px;
  height: 58px;
  display: inline-block;
  font-family: "Wordle", Arial, sans-serif;
  font-weight: bold;
  background-color: #787c7e;
  color: white;
}

.quadrado-verde {
  border: 2px solid #6aaa64;
  width: 58px;
  height: 58px;
  display: inline-block;
  font-family: "Wordle", Arial, sans-serif;
  font-weight: bold;
  background-color: #6aaa64;
  color: white;
}

.quadrado-amarelo {
  border: 2px solid #cab65c;
  width: 58px;
  height: 58px;
  display: inline-block;
  font-family: "Wordle", Arial, sans-serif;
  font-weight: bold;
  background-color: #cab65c;
  color: white;
}

.teclado {
  top: 90px;
  text-align: center;
  /*position: relative;*/
  margin: 0 0 8px;
}

.tecla-normais {
  border-radius: 4px;
  background-color: rgb(206, 206, 222);
  width: 37px;
  height: 58px;
  display: inline-block;
  background-color: #d3d6da;
  font-family: "Wordle", Arial, sans-serif;
  font-size: 14.4px;
  font-weight: bold;
  margin: 0 3px 0 0;
}
.tecla-cinza {
  border-radius: 4px;
  background-color: #787c7e;
  color: white;
  width: 37px;
  height: 58px;
  display: inline-block;
  font-family: "Wordle", Arial, sans-serif;
  font-size: 14.4px;
  font-weight: bold;
  margin: 0 3px 0 0;
}
.tecla-verde {
  border-radius: 4px;
  background-color: #6aaa64;
  color: white;
  width: 37px;
  height: 58px;
  display: inline-block;
  font-family: "Wordle", Arial, sans-serif;
  font-size: 14.4px;
  font-weight: bold;
  margin: 0 3px 0 0;
}
.tecla-enter {
  border-radius: 4px;
  background-color: rgb(206, 206, 222);
  width: 37px;
  height: 58px;
  display: inline-block;
  background-color: #d3d6da;
  font-family: "Wordle", Arial, sans-serif;
  font-size: 14.4px;
  font-weight: bold;
  margin: 0 3px 0 0;
  width: 68px;
  height: 58px;
}

.container-teclado p {
  margin: 20px 2px 20px 2px;
}

/* .centralizar { 
  margin: 20px 2px 20px 2px;
} */
